html {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: 'Edu SA Beginner', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #929da9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* header */
header {
  font-family: 'Edu SA Beginner', cursive;
  background-color: #f3ede2;
  color: #6f7d8c;
  width: 100%;
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-title {
  width: 100%;
  margin: 30px 30% 10px 0px;
  font-size: 40px;
  text-align: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  font-size: 15px;
  flex-direction: row;
  text-align: center;
}

.nav-link {
  cursor: pointer;
}

.link {
  padding: 0px 5%;
  font-weight: bold;
  font-size: larger;
}

/* about me section */

.about-me {
  padding: 15px 7% 5px 7%;
}

.about-me-content {
  display: flex;
}

.about-header {
  font-size: 30px;
  font-weight: bold;
  padding-left: 20px;
}

#photo {
  height: 200px;
  width: 200px;
}

.about-script {
  font-size: 18px;
  padding-top: 10px;
}

/* footer section */

.footer-container {
  margin: 50px 0px;
  display: flex;
  justify-content: center;
}

.footer-link {
  margin: 0px 25px;
}

/* resume section */

.resume-container {
  padding: 30px 5% 5px 5%;
  font-size: 20px;
}

.proficiencies {
  display: flex;
  justify-content: center;
}

.list {
  justify-content: center;
  padding: 0px 40px;
}
.resume-section {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}

#resume-link {
  text-decoration: none;
  color: #2b4b6c;
  font-weight: bold;
}

.bullet-list {
  padding-left: 20px;
}