@import url('https://fonts.googleapis.com/css?family=Edu+SA+Beginner:wght@500');

html {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: 'Edu SA Beginner', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #929da9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* header */
header {
  font-family: 'Edu SA Beginner', cursive;
  background-color: #f3ede2;
  width: 100%;
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-title {
  width: 100%;
  margin: 30px 30% 10px 0px;
  font-size: 50px;
  text-align: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  font-size: 20px;
  flex-direction: row;
  text-align: center;
  color: #6f7d8c;
}

.nav-link {
  cursor: pointer;
}

.nav-active {
  color: #232220;
}

.link {
  padding: 0px 5%;
  font-weight: bold;
  font-size: larger;
}

/* about me section */

.about-me {
  padding: 15px 7% 5px 7%;
}

.about-me-content {
  display: flex;
}

.about-header {
  font-size: 40px;
  font-weight: bold;
  padding-left: 20px;
}

#photo {
  height: 200px;
  width: 200px;
}

.about-script {
  font-size: 22px;
  padding-top: 10px;
}

/* footer section */

.footer-container {
  margin: 50px 0px;
  display: flex;
  justify-content: center;
}

.footer-link {
  margin: 0px 25px;
}

/* resume section */

.resume-container {
  padding: 30px 5% 5px 5%;
  font-size: 25px;
}

.proficiencies {
  display: flex;
  justify-content: center;
}

.list {
  justify-content: center;
  padding: 0px 40px;
}
.resume-section {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}

#resume-link {
  text-decoration: none;
  color: #424f5d;
  font-weight: bold;
}

#resume-link:hover {
  color: #f3ede2;
}

.bullet-list {
  padding-left: 20px;
}

/* project section */

.project-container {
  padding: 30px 5% 5px 5%;
  font-size: 30px;
  display: flex;
}

.project-header {
  display: flex;
  font-size: 40px;
  font-weight: bold;
  justify-content:center;
  text-align: center;
  margin: 50px 100px 5px 100px;
}

.top-container {
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  font-size: 30px;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.project-container {
  display: flex;
  justify-content: center;
}

.inner-project-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project {
  display: flex;
  justify-content: center;
  height: 230px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #363d43;
}

.project:hover {
  opacity: 50%;
}

.project-item {
  margin: 50px 5% 50px 5%;
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#project-1 {
  background-image: url('./assets/images/flute-and-fork.png');
  background-size: cover;
}

#project-2 {
  background-image: url('./assets/images/the-recipe-pantry.PNG');
  background-size: cover;
}

#project-3 {
  background-image: url('assets/images/budget-tracker.png');
  background-size: cover;
}

#project-4 {
  background-image: url('assets/images/javascript-quiz.PNG');
  background-size: cover;
}

#project-5 {
  background-image: url('assets/images/note-taker.png');
  background-size: cover;
}

#project-6 {
  background-image: url('assets/images/workday-scheduler.png');
  background-size: cover;
}

.project-link {
  text-decoration: none;
  font-weight: bold;
  color: #24303c;
  margin-top: 10px;
  font-size: 25px;
  justify-content: center;
  display:flex;
}

.project-link:hover {
  color: #f3ede2;
}

/* contact section */

.contact-container {
  padding: 30px 5% 5px 5%;
}

.input-div {
  display: flex;
  flex-direction: row;
  height: 25px;
}

.input {
  margin-top: 15px;
}

.contact-header {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0px 30px 0px;
}

.contact-form {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 120px;
}

.label-div {
  width: 80px;
}

input {
  height: 24px;
  width: 340px;
  border-radius: 10px;
  background-color: #f3ede2;
}

.message-div {
  display: flex;
  flex-direction: column;
}

.message-label {
  margin-bottom: 20px;
}

textarea {
  width: 420px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #f3ede2;
}

.submit-button {
  height: 40px;
  width: 120px;
  border-radius: 10px;
  background-color: #f3ede2;
  color: #24303c;
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
  font-family: 'Edu SA Beginner', cursive;
}

/* smart phones */

@media screen and (max-width: 480px) {

  .nav-links {
    flex-direction: column;
  }

  .link {
    margin: 0px 0px 10px 0px;
  }

  .about-me-content {
    display: block;
  }

  .about-header {
    text-align: center;
    padding-left: 0px;
    margin: 0px;
  }

  #photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .about-script {
    padding-top: 0px;
    text-align: justify;
  }

  .top-container {
    padding: 20px;
    width: 90%;
    text-align: center;
  }

  .project-item {
    height: 200px;
    width: 350px;
    margin: 5% 5% 5% 5%;
  }

  .project {
    height: 180px;
    width: 350px;
  }

  textarea {
    width: 320px;
  }

  .list {
    padding: 0px 10px;
  }

  .bullet-list {
    margin: 10px;
  }
}